datasets==2.8.0
huggingface-hub==0.6.0
matplotlib
nltk
numpy==1.21.5
optuna==3.0.5
pandas
POT==0.8.2
regex
scikit-learn
spacy==3.4.3
torch==1.8.0
torchtext==0.9.0
torchmetrics==0.8.0
math
torchdata==0.4.1
tqdm
random
warnings
time
collections